/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html{
    overflow-x: hidden;
    background-color: #000;
}
.page1{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
header{
    background-color: #000000;
    width: 100vw;
    
}
header nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header nav .logo{
    width: 150px;
}
header nav .menu{
    display: flex;
    align-items: center;
}
nav .menu a{
    color: #fff;
    margin-left: 30px;
    position: relative;
}
nav .menu a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #dd0707;
    transition: 0.4s;
}
nav .menu a:hover::after{
    width: 100%;
}
nav .social a i{
    color: #fff;
    font-size: 22px;
    margin-left: 10px;
    transition: 0.3s;
}
nav .social a i:hover{
    transform: scale(1.3);
    color: #dd0707;
}




.hero{
    width: 100%;
    height: 100vh;
    background: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .text{
    width: 90%;
    margin: auto;
}
.hero .text h4{
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
.hero .text h1{
    color: #fff;
    font-size: 65px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 30px;
}
.hero .text h1 span{
    color: #dd0707;
    font-size: 80px;
    font-weight: bold;
}
.hero .text p{
    color: #fff;
    margin-bottom: 30px;
}
.btn{
    padding: 10px 30px;
    background-color: #dd0707;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid #dd0707;
    transition: 0.3s;
}
.btn:hover{
    background-color: transparent;
}
.profile .btn{
    width: max-content;
    padding: 7px 10px;
    cursor: pointer;
}
.titly img{
    height: 40px;
    margin: 0.4vw;
}
.titly{
    display: flex;
       align-items: center;
}
.website-credit{
    margin: 1.5vw 0;
}
.website-credit a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.507);
}

.main-mid{
    width: 100vw;
    height: 400vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.main-mid1{
    width: 100vw;
    height: 400vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-mid-header{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.main-mid1-a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-mid1-b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-mid1-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-mid1-left{
    margin: 10px 40px;
    padding: 10px;
    width: 40vw;
}
.main-mid1-right{
    margin: 10px 40px;
    padding: 10px;
    width: 40vw;
}
.main-mid1-a-image{
    width: 30vw;
    height: 40vh;
    background-image: url(https://stimg.cardekho.com/images/carexteriorimages/630x420/BMW/i7/8972/1675664292256/front-left-side-47.jpg?tr=w-456);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.main-mid1-b-image{
    width: 30vw;
    height: 40vh;
    background-image: url(https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/concept/terzo-millennio/header/header_Terzo-Millennio.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px; 
}
.main-mid1-c-image{
    width: 30vw;
    height: 40vh;
    background-image: url(https://stimg.cardekho.com/images/carexteriorimages/630x420/Mercedes-Benz/EQS/8423/1691645568687/front-left-side-47.jpg?tr=w-456);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.main-mid1-d-image{
    width: 30vw;
    height: 40vh;
    background-image: url(https://i.ytimg.com/vi/0CndFn82-Pg/maxresdefault.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.main-mid1-e-image{
    width: 30vw;
    height: 40vh;
    background-image: url(https://st2.depositphotos.com/3317865/50229/i/450/depositphotos_502294498-stock-photo-tesla-model-electric-suv.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.main-mid2-a-image{
    width: 30vw;
    height: 40vh;
    background-image: url(https://i.ytimg.com/vi/25MOb-62NgE/sddefault.jpg?sqp=-oaymwEmCIAFEOAD8quKqQMa8AEB-AH-DoACuAiKAgwIABABGHIgXigeMA8=&rs=AOn4CLCKoReVWeQ5wjpuJGKk07VvegfADg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.main-mid2-b-image{
    width: 30vw;
    height: 40vh;
    background-image: url(https://plus.unsplash.com/premium_photo-1682310144714-cb77b1e6d64a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y3VzdG9tZXIlMjByZXZpZXd8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.main-mid2-c-image{
    width: 30vw;
    height: 40vh;
    background-image: url(https://images.unsplash.com/photo-1553729459-efe14ef6055d?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGFmZm9yZGFibGUlMjBjb3N0fGVufDB8fDB8fHww);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.main-mid2{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.main-mid2-col{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-mid2-text{
    margin: 10px;
}

/* main bottom styling */

.main-bottom{
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-bottom-top{
    margin: 20px;
}
.main-bottom-mid{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#globe-map-image{
    width: 60vw;
    margin: 10px;
}
.location-details{
    width: 30vw;
    margin: 10px;
}
.main-bottom-bottom{
    margin: 20px;
    color: #0000008a;
}
.main-bottom-bottom a{
    color: #000;
}


/* Beauty styling */

.book-a-package-button{
    border-style: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    width: 20vw;
}
.main-mid-header-titly{
    font-size: 22px;
    letter-spacing: 1px;
}
.titly{
    font-size: 24px;
    letter-spacing: 1px;
}
.line{
    width: 80vw;
    height: 1px;
    background-color: black;
    border-radius: 20px;
}
button{
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.371);
}
select{
    outline: none;
    border-style: none;
    width: 7vw;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    color: skyblue;
    border-radius: 4px;
}
.texty{
    font-size: 18px;
    margin: 10px 0;
}
.titly2{
    font-size: 20px;
}
.texty2{
    font-size: 16px;
}
select{
    width: 17vw;
    max-width: max-content;
}

.footer{
    height: 70vh;
    width: 100vw;
}

/* footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}






